# ===========================
# Build
# ===========================

build/
Build/
build-*/

# ===========================
# CMake
# ===========================

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
install_manifest.txt

# ===========================
# Visual Studio
# ===========================

.vs/
*.user
*.userosscache
*.sln.docstates
CMakeSettings.json
CMakeUserPresets.json

x64/
x86/
Debug/
Release/

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# CLion
# ===========================

.idea/

# ===========================
# Ninja
# ===========================

.ninja_deps
.ninja_log

# ===========================
# Object files
# ===========================

*.o
*.obj
*.lo
*.slo

# ===========================
# Static Libraries
# ===========================

*.a
*.la
*.lai

# ===========================
# Dynamic Libraries
# ===========================

*.so
*.so.*
*.dylib
*.dll

# ===========================
# Executables
# ===========================

*.exe
*.out
*.app

# ===========================
# Debug
# ===========================

*.pdb
*.ilk
*.idb
*.dwo

# ===========================
# Misc
# ===========================

*.tmp
*.log
*.bak
*.swp
.cache/
Testing/
vcpkg_installed/

# ===========================
# macOS
# ===========================

.DS_Store